<div class="max-w-sm bg-pink-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

  <app-lazy-image [alt]="gif!.title" [url]="gif!.images.downsized.url"></app-lazy-image>

<div class="p-5" (click)="copyUrl(gif!.images.downsized.url)">
  @if (!gif?.title) {
    <h5 class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white focus:underline-offset-auto ">no title</h5>
  } @else{
        <h5  
        class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white hover:underline-offset-1 hover:underline hover:cursor-pointer">{{ gif?.title }}</h5>
  }
</div>
</div>
